snippet yuimod "Adds YUI doc methods"

/**
 * ${1}
 *
 *@module ${2}
 */

endsnippet

snippet yuimethod "Adds YUI doc methods"

/**
 * ${1}
 *
 * @method ${2}
 * @param ${3}
 * @return ${4} ${5}
 */

endsnippet

